

* {
    font-family: 'Manrope', sans-serif;
}

:root {
    font-size: 10px;
}
@media only screen and (max-width:600px) {
    :root {
        font-size: 9px;
    }
}

h1 {
    font-size: 7.5rem;
    font-weight: 600;
    line-height: 8.3rem;
}

h2 {
    font-size: 6rem;
    font-weight: 400;
    line-height: 6.5rem;
}
.h2 {
    font-size: 6rem;
    font-weight: 400;
    line-height: 6.5rem;
}
h3 {
    font-size: 5.5rem;
    font-weight: 400;
    line-height: 6.2rem;
}
.h3 {
    font-size: 5.5rem;
    font-weight: 400;
    line-height: 6.2rem;
}
h4 {
    font-size: 3.3rem;
    font-weight: 400;
    line-height: 4rem;
}
.h4 {
    font-size: 3.3rem;
    font-weight: 400;
    line-height: 4rem;
}
.cursiveHead {
    font-family: 'Style Script'; 
    font-weight:400;
    font-size: 8.5rem; 
    line-height: 10rem;
}

@media only screen and (max-width: 1200px) {
    h1 {
        font-size: 7rem;
        line-height: 7.5rem;
    }
}
@media only screen and (max-width:600px) {
    h1 {
        font-size: 5.3rem;
        line-height: 6rem;
    }
    h2 {
        font-size: 4.2rem;
        line-height: 5rem;
    }
    h3 {
        font-size: 4rem;
        line-height: 4.7rem;
    }
    .h2 {
        font-size: 4.2rem;
        line-height: 5rem;
    }
    .h3 {
        font-size: 4rem;
        line-height: 4.7rem;
    }
    .cursiveHead {
        font-size: 6rem;
        line-height: 6.5rem;
    }

}

p {
    font-size: 2rem;
    line-height: 3.2rem;
    font-weight: 300;
}

.p {
    font-size: 2rem;
    line-height: 3.2rem;
    font-weight: 300;
}


.pLarge {
    font-size: 2.5rem;
    line-height: 3.5rem;
    font-weight: 500;
}

b {
    font-weight: 900;
}

.pSmall {
    font-size: 1.7rem;
}

.pTiny {
    font-size: 1.6rem;
    line-height: 1.6rem;
    padding-left: 3px;
    padding-top: 6px;
}

.buttonText {
    font-weight: 700;
}

i {
    font-style: italic;
}

.subtextWhite {
    color: hsla(0, 0%, 100%, .8);
}

.subtextBlack {
    color: hsla(0, 0%, 0%, .75);
}

.black {
    color: black;
}

.thin {
    font-weight: 300;
}

.color {
    color: var(--secondary-color);
}

.white {
    color:var(--off-white);
}

.logoSmall {
    line-height: 1.1rem;
    font-size: 1.5rem;
}

.balance {
    text-wrap: balance;
}

.underline {
    position: relative;
    text-decoration: none;
    display: inline-block;
    
}

.underline::after {
    z-index: -1;
    content: '';
    position: absolute;
    bottom: -14px;
    left: 12px;
    background-image: url('/images/line.svg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 40px;
}

