---
import '../styles/reset.css';
import '../styles/main.css';
import '../styles/fonts.css';
import '../styles/portfolio.css';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import FiveStars from '../components/FiveStars.astro';
//import Gtag from "../components/Gtag.astro";
//import Heatmap from "../components/Heatmap.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/images/logo.webp" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
        <meta name="description" content="Trusted painters in Niagara and Oakville Ontario.">
		<title>Painters Near Me</title>

		<style>

			@font-face {
				font-display: swap;
				font-family: 'Manrope';
				font-style: normal;
				font-weight: 400;
				src: url('/fonts/manrope-v20-latin-regular.woff2') format('woff2');
			}
			@font-face {
				font-display: swap;
				font-family: 'Roboto';
				font-style: normal;
				font-weight: 700;
				src: url('/fonts/manrope-v20-latin-700.woff2') format('woff2');
			}
    	</style>

        <!--Gtag />
        <Heatmap /-->
	</head>
	<body>

	<Header />

	<!--HERO-->
    <main id="home" class="normalSection hero">
        <div class="container">
            <div class="box hero">
            
                <a class="box acrossTrue closer centerAlign tag dark shrink visCenter centerMobile" href="https://www.google.com/localservices/profile?spp=Cg0vZy8xMXgwbXRyeW45&source=sh%2Fx%2Floc%2Fsrv%2Fm1%2F0&kgs=0c70fa0a8efd8e90" target="_blank">
                    <img class="icon" src="images/googleLogo.webp" alt="checkmark icon">
                    <div  class="box closest">
                        <FiveStars />
                        <p class="pTiny"><b>5</b> of <b>5 Stars</b></p>
                    </div>
                </a>
                <h1 id="headline">Trusted Interior<br><span class="color balance">Painters in Niagara Falls</span></h1>
                <p id="subHeadline" class="subtextBlack">Refresh your home with our top-rated interior painting services. Experienced, reliable, and meticulously clean. Get your free quote today!</p>
                <div id="heroButtons" class="box across close mobile8Gap">
                    <a href="#contact" class="button main"><p class="buttonText">Get Your Free Quote</p>
                        <svg width="19" height="15" viewBox="0 0 19 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path class="svgArrow" d="M18.7071 8.07107C19.0976 7.68055 19.0976 7.04739 18.7071 6.65686L12.3431 0.2929C11.9526 -0.0976242 11.3195 -0.0976242 10.9289 0.2929C10.5384 0.683424 10.5384 1.31659 10.9289 1.70711L16.5858 7.36397L10.9289 13.0208C10.5384 13.4113 10.5384 14.0445 10.9289 14.435C11.3195 14.8256 11.9526 14.8256 12.3431 14.435L18.7071 8.07107ZM0 7.36397L0 8.36397L18 8.36397V7.36397V6.36397L0 6.36397L0 7.36397Z"/></svg>
                    </a>
                    <a href="#learn" class="button secondary"><p class="buttonText">Learn More</p>
                        <svg width="19" height="15" viewBox="0 0 19 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path class="svgArrow" d="M18.7071 8.07107C19.0976 7.68055 19.0976 7.04739 18.7071 6.65686L12.3431 0.2929C11.9526 -0.0976242 11.3195 -0.0976242 10.9289 0.2929C10.5384 0.683424 10.5384 1.31659 10.9289 1.70711L16.5858 7.36397L10.9289 13.0208C10.5384 13.4113 10.5384 14.0445 10.9289 14.435C11.3195 14.8256 11.9526 14.8256 12.3431 14.435L18.7071 8.07107ZM0 7.36397L0 8.36397L18 8.36397V7.36397V6.36397L0 6.36397L0 7.36397Z"/></svg>
                    </a>
                </div>
                <div id="tagsDesktop" class="box close centerMobile across">
                    <div class="box acrossTrue closer centerAlign tag dark shrink visCenter">
                        <img class="iconSmall" src="images/check.svg" alt="checkmark icon" width="32" height="32">
                        <p>2-Year Warranty</p>
                    </div>
                    <div class="box acrossTrue closer centerAlign tag dark shrink visCenter">
                        <img class="iconSmall" src="images/check.svg" alt="checkmark icon" width="32" height="32">
                        <p>Free Estimates</p>
                    </div>
                </div>
            </div>
            <div class="box closer center">
                <picture>
                    <source srcset="images/mobile/off-white-new-kitchen.webp" media="(min-width: 0px) and (max-width: 480px)">
                    <img class="normalImg heroImage1" src="images/off-white-new-kitchen.webp" alt="a living room with fresh white paint" fetchpriority="high" loading="eager">
                </picture>

            </div>
            <div id="tagsMobile" class="box close centerMobile across">
                    <div class="box acrossTrue closer centerAlign tag dark shrink visCenter">
                        <img class="iconSmall" src="images/check.svg" alt="checkmark icon">
                        <p>2-Year Warranty</p>
                    </div>
                    <div class="box acrossTrue closer centerAlign tag dark shrink visCenter">
                        <img class="iconSmall" src="images/check.svg" alt="checkmark icon" >
                        <p>Free Estimates</p>
                    </div>
                </div>
        </div>
		<style>
            #subHeadline {
                text-wrap: auto;
            }

			@media only screen and (max-width: 900px){
				#tagsDesktop {
					display: none;
				}
                #tagsMobile {
                    display: flex;
                }
                #headline {
                    text-wrap: balance;
                }
                
			}
            @media only screen and (min-width: 901px) {
                #tagsDesktop {
					display: flex;
				}
                #tagsMobile {
                    display: none;
                }
            }
            @media only screen and (max-width: 1020px) {
                #heroButtons {
                    flex-direction: column;
                }
            }
            @media only screen and (max-width: 1120px) {
                .heroImage1 {
                    max-width: 100%;
                    border-radius: var(--border-radius);
                }
            }
			
		</style>
    </main>

    <!--CTA-->
    <section class="normalSection darkBack">
        <div class="container">
            <div class="box center noPaddingTop">
                
                <div class="box center limit">
                    <img class="mainIcon" src="/images/logo.webp" alt="painters near me logo">
                    <div class="box closer">
                        <h2>Elevate Your Space </h2>
                        <h3 class="h2 color">With Trusted Interior Painters</h3>
                    </div>
                    
                    <p>Your home deserves more than just a new colour. It deserves to be treated with top-quality products for a beautiful, lasting finish. At <b>Painters Near Me</b>, we make your home feel brand-new again.</p>
                    <a href="#contact" class="button main"><p class="buttonText">Get a Quote</p></a>
                </div>
            </div>
        </div>
            
    </section>

    <!--Section 1-->
    <section class="normalSection" id="learn">
        <div class="container">
            <div class="box">
                <picture>
                    <source srcset="images/mobile/white-painted-basement.webp" media="(min-width: 0px) and (max-width: 480px)">
                    <img class="normalImg fourByThree" src="images/white-painted-basement.webp" alt="white painted basement" loading="lazy">
                </picture>
            </div>
            <div class="box">
                <h3>One-Stop Shop for Interior Home Improvement </h3>
                <div class="box text">
                    <p>Interior painting doesn’t stop at your walls. At <b>Painters Near Me</b>, we specialize in walls, ceilings, trim, doors, and cabinetry. All your home improvement needs in one place.</p>
                    <p>Each project is done with care, and a great attention to detail. We provide consultation, planning, preparations, and organization, all while keeping your home meticulously clean. <b>Give your home a refreshing look that you’ll love!</b></p>
                </div>
                <a class="button secondary" href="/#contact"><p class="buttonText">Get in Touch</p></a>
            </div>
            
        </div>
    </section>

    <!--Section 2-->
    <section class="normalSection">
        <div class="container mobileFlip lightPaddingTop" >
            <div class="box">
                <h3>Why Choose a Local Expert?</h3>
                <div class="box text">
                    <p>Hiring a local painter is more than just a convenience. It means working with trusted experts from your community. </p>
                    <p>At <b>Painters Near Me</b>, we understand the Niagara Region community standards. Our local painters will bring a top-quality, personal touch to your home.</p>
                </div>
                <a class="button secondary" href="/#contact"><p class="buttonText">Get Your Free Quote</p></a>
            </div>
            <div class="box" >
                <picture>
                    <source srcset="images/mobile/interior-house-white-paint.webp" media="(max-width:480px)">
                    <img id="localImg" class="normalImg fourByThree" src="images/interior-house-white-paint.webp" alt="Freshly painted house interior" loading="lazy">
                </picture>
            </div>
            
        </div>
        <style>
            #localImg {
                object-position: 0% 80%; 
            }
        </style>  
    </section> 

    <!--Testimonials -->
    <section class="normalSection close darkBack" id="testimonials">
        <div class="container noPaddingBot">
            <div class="box center closish">
                <a class="box acrossTrue closer centerAlign tag darkBack shrink visCenter centerMobile" href="https://www.google.com/localservices/profile?spp=Cg0vZy8xMXgwbXRyeW45&source=sh%2Fx%2Floc%2Fsrv%2Fm1%2F0&kgs=0c70fa0a8efd8e90" target="_blank">
                    <img class="icon" src="images/googleLogo.webp" alt="checkmark icon">
                    <div  class="box closest">
                        <FiveStars />
                        <p class="pTiny"><b>5</b> of <b>5 Stars</b></p>
                    </div>
                </a>
                <div class="box close">
                    <h3>Don't Take Our Word For It</h3>
                    <p>See what our happy customers had to say.</p>
                </div>
                
            </div>
        </div>     
        <div class="container close noPaddingBot lightPaddingTop">
            <div class="box fill card close outline lightPaddingBot apart stretch">
                <div class="box close">
                    <h4>What an outstanding job!</h4>
                    <p class="pSmall noBalance"><i>Thanks to Austin, Dan and the entire Painters Near Me team. You all worked diligently, carefully, cleanly and clearly take pride in your craft. Thank you for doing a wonderful job. It was a pleasure dealing with you from the moment Max first spoke to me about you. Your honesty and professionalism are a credit to yourselves and your company.</i></p>
                </div>
                <div class="box acrossTrue apart close ">
                    <img class="icon" src="images/googleLogo.webp" alt="Google Logo">
                    <div class="box shrink">
                        <div class="box closest shrink">
                            <FiveStars />
                            <p><i>- Lorne Lipkus</i></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box fill card close outline lightPaddingBot apart stretch">
                <div class="box close">
                    <h4>Highly recommended!</h4>
                    <p class="pSmall noBalance"><i>I recently hired Painters Near Me to paint my townhouse, and I couldn't be happier with the results! From the initial consultation to the final walkthrough, their professionalism and attention to detail were outstanding. The team was punctual, respectful of my home, and clearly take pride in their work.</i></p>
                </div>
                <div class="box acrossTrue apart close ">
                    <img class="icon" src="images/googleLogo.webp" alt="Google Logo">
                    <div class="box shrink">
                        <div class="box closest shrink">
                            <FiveStars />
                            <p><i>- Melanie Vautour</i></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container close noPaddingTop lightPaddingBot">
            <div class="box fill card close outline lightPaddingBot apart stretch">
                <div class="box close">
                    <h4>Thank you for an amazing job.</h4>
                    <p class="pSmall noBalance"><i>Austin and his team were amazing. I absolutely love the job they did if I could give 10 star I would !!! Thank you for an amazing job.</i></p>
                </div>
                <div class="box acrossTrue apart close ">
                    <img class="icon" src="images/googleLogo.webp" alt="Google Logo">
                    <div class="box shrink">
                        <div class="box closest shrink">
                            <FiveStars />
                            <p><i>- Kim Muro</i></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box fill card close outline lightPaddingBot">
                <h4>Professional, clean and polite.</h4>
                <p class="pSmall noBalance"><i>This was a job very well done. Professional, clean and polite. No Mess left behind for me to clean up. I would definitely recommend Painters Near Me, to my family and friends.</i></p>
                <div class="box acrossTrue apart centerAlign close ">
                    <img class="icon" src="images/googleLogo.webp" alt="Google Logo">
                    <div class="box shrink">
                        <div class="box closest shrink">
                            <FiveStars />
                            <p><i>- Susan Whiteford</i></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container noPaddingTop">
            <div class="box center">
                <a class="button primary" href="https://www.google.com/localservices/profile?spp=Cg0vZy8xMXgwbXRyeW45&source=sh%2Fx%2Floc%2Fsrv%2Fm1%2F0&kgs=0c70fa0a8efd8e90" target="_blank"><p class="buttonText">See More Reviews</p></a>
            </div>
        </div>
    </section>

    <!--ABOUT-->
    <section id="about" class="normalSection closeish">
        <div class="container lightPaddingBot">
            <div class="box center"><h2 class="pSmall thin tag darkBack">About</h2></div>
        </div>
        <div class="container apart noPaddingTop">
            <div class="box limit500">
                <picture id="profileImg">
                    <source srcset="images/mobile/living-room-white.webp" media="(min-width: 0px) and (max-width: 480px)">
                    <img  class="normalImg sevenByEight" src="images/living-room-white.webp" alt="Painters Near Me about photo" loading="lazy">
                </picture>
                
            </div>
            <div class="box closest">
                <h3>Painters Near Me</h3>
                <h4 class="p thin">Trusted Painters in Niagara Falls</h4><br><br>
                
                <div class="box text">
                    <p>At <b>Painters Near Me</b> we exist to create lasting impressions - on walls, homes, and people. Our focus is on your experience, from start to finish and the human/technological interactions in between them.</p>
                    <p>When you become a part of our journey, you are joining a long lasting community that is here to service all your painting needs - from exterior to interior to all of our specialist services. <b>Painters Near Me is the team you want to hire! </b></p>
                    
                    <div class="box acrossTrue">
                        <img class="iconLarge square" src="/images/google-guarantee.webp" alt="google guarantee logo">
                        <img class="iconLarge square" src="/images/locally-owned.webp" alt="locally owned logo">
                        <img class="iconLarge square" src="/images/ben-moore.webp" alt="benjamin moore logo">
                        <img class="iconLarge square" src="/images/sherwin-williams.webp" alt="sherwin williams logo">
                    </div>
                </div>
                
            </div>
        </div>

    </section>

	<!-- FAQ -->
	<section class="normalSection closeish">
		<div class="container noPaddingBot">
            <div class="box center"><h2 class="pSmall thin tag darkBack">FAQs</h2></div>
        </div>
		<div class="container noPaddingTop noPaddingBot">
            <div class="divider mobileHide"></div>
			<div class="box center">
				<h3 class="h2">Frequently Asked Questions</h3>
			</div>
            <div class="divider mobileHide"></div>
		</div>
		<div class="container lightPaddingTop top mobile8Gap">
			<div class="box closer">
                <details name="accordion1">
					<summary class="box acrossTrue apart">
						<p class="pLarge">What areas do you service?</p>
					</summary>
					<div class="answer">
						<p class="subtextBlack">We proudly serve Niagara - GTA, including surrounding communities. Contact us to see if we work in your area!</p>
					</div>
				</details>
				<details name="accordion1">
					<summary class="box acrossTrue apart">
						<p class="pLarge">How long will my project take?</p>
					</summary>
					<div class="answer">
						<p class="subtextBlack">Most jobs are completed within a few days, depending on size and scope. We’ll provide a clear timeline before starting.</p>
					</div>
				</details>
                <details name="accordion1">
					<summary class="box acrossTrue apart">
						<p class="pLarge">Are you insured and licensed?</p>
					</summary>
					<div class="answer">
						<p class="subtextBlack">Yes, we are fully insured and licensed, so you can have peace of mind during your project.</p>
					</div>
				</details>
				
			</div>
			<div class="box closer">
				<details name="accordion2">
					<summary class="box acrossTrue apart">
						<p class="pLarge">Do you offer a warranty on your work?</p>
					</summary>
					<div class="answer">
						<p class="subtextBlack">Yes! We stand behind our work with a 2 year warranty on workmanship and materials.</p>
					</div>
				</details>
				<details name="accordion2">
					<summary class="box acrossTrue apart">
						<p class="pLarge">How do I get an estimate?</p>
					</summary>
					<div class="answer">
						<p class="subtextBlack">Simply fill out our online form, give us a call, or email us—estimates are always free and no obligation.</p>
					</div>
				</details>
                <details name="accordion2">
					<summary class="box acrossTrue apart">
						<p class="pLarge">What forms of payment do you accept?</p>
					</summary>
					<div class="answer">
						<p class="subtextBlack">We accept e-transfers, credit cards, cheques, and cash.</p>
					</div>
				</details>
			</div>
            
		</div>

        <br>
	</section>

    <!--CONTACT-->
    <section id="contact" class="normalSection close darkBack">
        <div class="container lightPaddingBot">
            <div class="box center"><h2 class="pSmall thin tag darkBack ">Contact</h2></div>
        </div>
        <div class="container noPaddingTop">
            <div class="box">
                <h3>Get Your Free Quote Today!</h3>
                <p>Tell us about your project, and we'll get back to you with a free quote. We look forward to working with you.</p>
                <form class="box closer" action="https://formsubmit.co/013156e829aadb58d778adcecfdb1fbd" method="POST">
                    <div class="box across close">
                        <div class="box closest">
                            <label for="name"><p>Name *</p></label>
                            <input class="inputBox" type="text" name="name" id="name" placeholder="John Smith" required>
                        </div>
                        <div class="box closest">
                            <label for="email"><p>Email *</p></label>
                            <input class="inputBox" type="email" name="email" id="email" placeholder="jsmith@example.com" required>
                        </div>
                    </div>
                    <div class="box across close">
                        <div class="box closest">
                            <label for="phone"><p>Phone</p></label>
                            <input class="inputBox" type="tel" name="phone" id="phone" placeholder="905-555-5555">
                        </div>
                        <div class="box closest">
                            <label for="province"><p>Province</p></label>
                            <input class="inputBox" type="text" name="province" id="province" placeholder="Ontario">
                        </div>
                    </div>
                    <div class="box across close">
                        <div class="box closest">
                            <label for="address"><p>Address</p></label>
                            <input class="inputBox" type="text" name="address" id="address" placeholder="22 Example Street">
                        </div>
                        <div class="box closest">
                            <label for="postal"><p>Postal Code</p></label>
                            <input class="inputBox" type="text" name="postal" id="postal" placeholder="LOS 1P0">
                        </div>
                    </div>
                    <div class="box acrossTrue">
                        <input class="checkBox" type="checkbox" name="checkbox1" id="checkbox1" required>
                        <label for="checkbox1"><p class="pSmall">I consent to receive SMS notifications and alerts from <b>Painters Near Me</b>. Message frequency varies. Message & data rates may apply. You can reply STOP to unsubscribe at any time.</p></label>
                    </div>
                    <div class="box acrossTrue">
                        <input class="checkBox" type="checkbox" name="checkbox2" id="checkbox2" required>
                        <label for="checkbox2"><p class="pSmall noBalance">By checking this box I agree to receive occasional marketing messages from Painters Near Me</p></label>
                    </div>
                    <br>
                    <input type="hidden" name="_next" value="https://offers.paintersnear-me.com/thank-you">
                    <button type="submit" name="submit" class="button main fill"><p class="buttonText">Submit</p></button><br>
                    <div class="box acrossTrue close center">
                        <a class="link" href="https://www.paintersnear-me.com/terms-and-conditions"><p class="pSmall">Terms and Conditions</p></a>
                        <p> | </p>
                        <a class="link" href="https://www.paintersnear-me.com/privacy-policy"><p class="pSmall">Privacy Policy</p></a>
                    </div>
                    
                </form>
            </div>
            <div class="box close">
                <div class="box close centerMobile across apart endAlign">
                    <a class="box acrossTrue closer centerAlign tag darkBack shrink visCenter centerMobile" href="https://www.google.com/localservices/profile?spp=Cg0vZy8xMXgwbXRyeW45&source=sh%2Fx%2Floc%2Fsrv%2Fm1%2F0&kgs=0c70fa0a8efd8e90" target="_blank">
                    <img class="icon" src="images/googleLogo.webp" alt="checkmark icon">
                    <div  class="box closest">
                        <FiveStars />
                        <p class="pTiny"><b>5</b> of <b>5 Stars</b></p>
                    </div>
                </a>
                    <div class="box close centerMobile shrink endAlign">
                        <div class="box acrossTrue closer centerAlign tag darkBack shrink visCenter">
                            <img width="32" height="32" class="iconSmall" src="images/check.svg" alt="checkmark icon" loading="lazy">
                            <p>2-Year Warranty</p>
                        </div>
                        <div class="box acrossTrue closer centerAlign tag darkBack shrink visCenter">
                            <img width="32" height="32" class="iconSmall" src="images/check.svg" alt="checkmark icon" loading="lazy">
                            <p>Free Estimates</p>
                        </div>
                        
                    </div>
                </div>
                <div class="box fill card close outline lightPaddingBot apart stretch">
                    <div class="box close">
                        <h4>What an outstanding job!</h4>
                        <p class="pSmall noBalance"><i>Thanks to Austin, Dan and the entire Painters Near Me team. You all worked diligently, carefully, cleanly and clearly take pride in your craft. Thank you for doing a wonderful job. It was a pleasure dealing with you from the moment Max first spoke to me about you. Your honesty and professionalism are a credit to yourselves and your company.</i></p>
                    </div>
                    <div class="box acrossTrue apart close ">
                        <img class="icon" src="images/googleLogo.webp" alt="Google Logo">
                        <div class="box shrink">
                            <div class="box closest shrink">
                                <FiveStars />
                                <p><i>- Lorne Lipkus</i></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box fill card close outline lightPaddingBot">
                    <h4>Professional, clean and polite.</h4>
                    <p class="pSmall noBalance"><i>This was a job very well done. Professional, clean and polite. No Mess left behind for me to clean up. I would definitely recommend Painters Near Me, to my family and friends.</i></p>
                    <div class="box acrossTrue apart centerAlign close ">
                        <img class="icon" src="images/googleLogo.webp" alt="Google Logo">
                        <div class="box shrink">
                            <div class="box closest shrink">
                                <FiveStars />
                                <p><i>- Susan Whiteford</i></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
	<Footer />

    
	</body>
</html>
