<div class="box close">
    <div class="box close centerMobile centerTextMobile">
        <h3>Get Your Free Quote Today!</h3>
        <p>Tell us about your project, and we'll get back to you with a free quote. We look forward to working with you.</p>
    </div>
    
    <form class="box closer" action="https://formsubmit.co/013156e829aadb58d778adcecfdb1fbd" method="POST">
        <div class="box across close">
            <div class="box closest">
                <label for="name"><p>Name *</p></label>
                <input class="inputBox" type="text" name="name" id="name" placeholder="John Smith" required>
            </div>
            <div class="box closest">
                <label for="email"><p>Email *</p></label>
                <input class="inputBox" type="email" name="email" id="email" placeholder="jsmith@example.com" required>
            </div>
        </div>
        <div class="box across close">
            <div class="box closest">
                <label for="phone"><p>Phone</p></label>
                <input class="inputBox" type="tel" name="phone" id="phone" placeholder="905-555-5555">
            </div>
            <div class="box closest">
                <label for="province"><p>Province</p></label>
                <input class="inputBox" type="text" name="province" id="province" placeholder="Ontario">
            </div>
        </div>
        <div class="box across close">
            <div class="box closest">
                <label for="address"><p>Address</p></label>
                <input class="inputBox" type="text" name="address" id="address" placeholder="22 Example Street">
            </div>
            <div class="box closest">
                <label for="postal"><p>Postal Code</p></label>
                <input class="inputBox" type="text" name="postal" id="postal" placeholder="LOS 1P0">
            </div>
        </div>
        <div class="box acrossTrue">
            <input class="checkBox" type="checkbox" name="checkbox1" id="checkbox1" required>
            <label for="checkbox1"><p class="pSmall">I consent to receive SMS notifications and alerts from <b>Painters Near Me</b>. Message frequency varies. Message & data rates may apply. You can reply STOP to unsubscribe at any time.</p></label>
        </div>
        <div class="box acrossTrue">
            <input class="checkBox" type="checkbox" name="checkbox2" id="checkbox2" required>
            <label for="checkbox2"><p class="pSmall noBalance">By checking this box I agree to receive occasional marketing messages from Painters Near Me</p></label>
        </div>
        <br>
        <input type="hidden" name="_next" value="https://offers.paintersnear-me.com/thank-you">
        <button type="submit" name="submit" class="button main fill"><p class="buttonText">Submit</p></button><br>
        <div class="box acrossTrue close center">
            <a class="link" href="https://www.paintersnear-me.com/terms-and-conditions"><p class="pSmall">Terms and Conditions</p></a>
            <p> | </p>
            <a class="link" href="https://www.paintersnear-me.com/privacy-policy"><p class="pSmall">Privacy Policy</p></a>
        </div>
        
    </form-->
</div>