<div class="box closest acrossTrue end">
    <img class="iconTiny" src="images/star.svg" alt="star icon" width="32" height="32" loading="lazy">
    <img class="iconTiny" src="images/star.svg" alt="star icon" width="32" height="32" loading="lazy">
    <img class="iconTiny" src="images/star.svg" alt="star icon" width="32" height="32" loading="lazy">
    <img class="iconTiny" src="images/star.svg" alt="star icon" width="32" height="32" loading="lazy">
    <img class="iconTiny" src="images/star.svg" alt="star icon" width="32" height="32" loading="lazy">
</div>