---
import FiveStars from '../components/FiveStars.astro'; 
---

<a id="this" class="box acrossTrue closer centerAlign tag opaque shrink visCenter centerMobile" href="https://www.google.com/localservices/profile?spp=Cg0vZy8xMXgwbXRyeW45&source=sh%2Fx%2Floc%2Fsrv%2Fm1%2F0&kgs=0c70fa0a8efd8e90" target="_blank">
    <img class="icon" src="images/googleLogo.webp" alt="checkmark icon">
    <div class="box closest">
        <FiveStars positionClass="start"/>
        <p class="pTiny subtextWhite">5 out of 5 Stars</p>
    </div>
</a>
<style>
    #this {
        padding: 8px;
        padding-right: 24px;
    }
</style>